<h2 mat-dialog-title>Add new task</h2>
<div mat-dialog-content> Insert data and click submit to save new task or click cancel to exit dialog. </div>
<div class="form-fields">
    <mat-form-field class="body-field">
        <mat-label>Body</mat-label>
        <input type="text" matInput placeholder="Insert body" [(ngModel)]="eventTaskRequest.body">
    </mat-form-field><br/>
</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="eventTaskRequest" class="contributors-button">Submit</button>
    <button mat-button mat-dialog-close>Cancel</button>
<div>